In [86]:
import pandas as pd
pd.set_option('display.max_rows', 20) # USE THIS TO INCREASE THE NUMBER ROWS SHOWS

In [78]:
shows_data = pd.read_csv("All_Streaming_Shows.csv")

In [79]:
shows_data

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
2,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
4,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video
...,...,...,...,...,...,...,...,...,...
12348,A Fishing Story with Ronnie Green,2017,NaN,NaN,-1,"2017,Prime Video",A Fishing Story with Ronnie Green has one or m...,2Seasons,"Prime Video,fuboTV"
12349,CMT Most Shocking,2003,NaN,NaN,-1,-1,-1,-1,-1
12350,NHL Road to the Outdoor Classics,2016,NaN,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix"
12351,Addy Media,2018,NaN,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video
12352,My Dream Derelict Home,2014,NaN,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video"

In [35]:
shows_data.head(7) # GIVES FIRST FIVE DATA BY DEFAULT OR ANY VALUE GIVEN AS A PARAMETER

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
2,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
4,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video
5,Dark,2017,16+,8.8,95,"Crime,Drama",A missing child causes four families to help e...,3Seasons,Netflix
6,Chernobyl,2019,18+,9.4,95,"Drama,History",The true story of one of the worst man-made ca...,1Season,"HBO MAX,HBO"

In [33]:
shows_data.tail() # GIVES LAST FIVE DATA BY DEFAULT OR ANY VALUE GIVEN AS A PARAMETER

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
12348,A Fishing Story with Ronnie Green,2017,NaN,NaN,-1,"2017,Prime Video",A Fishing Story with Ronnie Green has one or m...,2Seasons,"Prime Video,fuboTV"
12349,CMT Most Shocking,2003,NaN,NaN,-1,-1,-1,-1,-1
12350,NHL Road to the Outdoor Classics,2016,NaN,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix"
12351,Addy Media,2018,NaN,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video
12352,My Dream Derelict Home,2014,NaN,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video"

In [38]:
shows_data[["Series Title", "Year Released"]] # SELECT SUB COLUMNS FROM MAIN DATA COLUMNS

                            Series Title  Year Released
0                           Breaking Bad           2008
1                        Game of Thrones           2011
2                         Rick and Morty           2013
3                        Stranger Things           2016
4                               The Boys           2019
...                                  ...            ...
12348  A Fishing Story with Ronnie Green           2017
12349                  CMT Most Shocking           2003
12350   NHL Road to the Outdoor Classics           2016
12351                         Addy Media           2018
12352             My Dream Derelict Home           2014

[12353 rows x 2 columns]

In [40]:
shows_data.iloc[[12000, 11999]]

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
12000,No Regrets,2010,NaN,NaN,-1,"2010,Free Services",No Regrets has one or more episodes free on Tu...,1Season,Free Services
11999,Paper Mario Color Splash Playthrough,2016,NaN,NaN,-1,"2016,Prime Video",Paper Mario Color Splash Playthrough has one o...,1Season,Prime Video

In [46]:
shows_data.info()
# PANDAS TITLES STRINGS TO OBJECTS AND ANY NONE NUMERIC OR DATETIME DATA IS TAKEN AS AN OBJECT/STRING.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12353 entries, 0 to 12352
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Series Title        12353 non-null  object
 1   Year Released       12353 non-null  int64
 2   Content Rating      7232 non-null   object
 3   IMDB Rating         10207 non-null  float64
 4   R Rating            12353 non-null  int64
 5   Genre               12353 non-null  object
 6   Description         12353 non-null  object
 7   No of Seasons       12353 non-null  object
 8   Streaming Platform  10370 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 868.7+ KB

In [47]:
shows_data["R Rating"].unique()

array([100,  99,  97,  96,  95,  94,  93,  92,  91,  90,  89,  88,  87,
        86,  85,  84,  83,  82,  81,  80,  79,  78,  77,  76,  75,  74,
        73,  72,  71,  70,  69,  68,  67,  66,  65,  64,  63,  62,  61,
        60,  59,  58,  57,  56,  55,  54,  53,  52,  51,  50,  49,  48,
        47,  46,  45,  44,  43,  42,  41,  40,  39,  38,  37,  36,  35,
        34,  33,  32,  31,  30,  29,  28,  27,  26,  25,  24,  23,  22,
        21,  20,  19,  18,  17,  16,  15,  13,  10,  -1], dtype=int64)

In [49]:
shows_data.describe() #  DECRIBE ONLY TARGETS NUMERIC COLUMNS AND OMITS NON NUMERIC ONES

       Year Released   IMDB Rating      R Rating
count   12353.000000  10207.000000  12353.000000
mean     2010.495345      6.973156     43.982029
std        11.240943      1.149726     20.660914
min      1901.000000      1.000000     -1.000000
25%      2009.000000      6.400000     33.000000
50%      2014.000000      7.200000     46.000000
75%      2017.000000      7.800000     58.000000
max      2020.000000      9.700000    100.000000

In [51]:
shows_data.describe(include = "O") # DESCRIBE ALL NON-NUMERIC COLUMNS

,Series Title,Content Rating,Genre,Description,No of Seasons,Streaming Platform
count,12353,7232,12353,12353,12353,10370
unique,12109,5,858,11875,94,530
top,Kingdom,16+,-1,-1,1Season,Netflix
freq,4,2581,479,479,5204,1427

In [55]:
shows_data["No of Seasons"] == "1Season"  # CREATE A BOOLEAN MASK CORRESPONDING TO CONDITION INPUTED

0        False
1        False
2        False
3        False
4        False
         ...
12348    False
12349    False
12350     True
12351     True
12352     True
Name: No of Seasons, Length: 12353, dtype: bool

In [56]:
# SAMPLE BOOLEAN MASK FILTERING USING A SMALLER DATAFFRAME

In [57]:
myvals = {"names":["sandra", "kunle", "sheriff", "ade"], 
          "ages": [20,32, 14, 19], 
          "ratings": ["5-stars", "3-stars", "5-stars", "2-stars"]}
df = pd.DataFrame(myvals)
df

     names  ages  ratings
0   sandra    20  5-stars
1    kunle    32  3-stars
2  sheriff    14  5-stars
3      ade    19  2-stars

In [59]:
df["ages"] >= 20 # SAMPLE BOOLEAN MASK

0     True
1     True
2    False
3    False
Name: ages, dtype: bool

In [62]:
ages_condition_mask = df["ages"] <= 20
df[ages_condition_mask]

     names  ages  ratings
0   sandra    20  5-stars
2  sheriff    14  5-stars
3      ade    19  2-stars

In [64]:
season_conditional_mask = shows_data["No of Seasons"] == "1Season"

In [65]:
shows_data[season_conditional_mask]

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
6,Chernobyl,2019,18+,9.4,95,"Drama,History",The true story of one of the worst man-made ca...,1Season,"HBO MAX,HBO"
25,The Mandalorian,2019,16+,8.7,91,"Action & Adventure,Science-Fiction","After the fall of the Galactic Empire, lawless...",1Season,Disney+
42,Firefly,2002,16+,9.0,90,"Drama,Science-Fiction","In the year 2517, after the arrival of humans ...",1Season,Hulu
48,The Last Dance,2020,16+,9.2,90,"Documentary,Biography",A 10-part documentary chronicling the untold s...,1Season,Netflix
55,The Haunting,2018,18+,8.7,89,"Horror,Drama","The Crains, a fractured family, confront haunt...",1Season,Netflix
...,...,...,...,...,...,...,...,...,...
12339,Pro-Semitism with Elon Gold,2011,NaN,NaN,-1,"2011,Prime Video",Pro-Semitism with Elon Gold has one or more ep...,1Season,Prime Video
12344,"Stop, Breathe & Think Kids: Mindful Games",2017,NaN,NaN,-1,"2017,Hulu",Mindfulness made easy and fun for kids. Discov...,1Season,Hulu
12350,NHL Road to the Outdoor Classics,2016,NaN,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix"
12351,Addy Media,2018,NaN,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video
12352,My Dream Derelict Home,2014,NaN,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video"

In [67]:
# USING THE GROUPBY METHOD

shows_data.groupby("No of Seasons") 
# GROUPBY GROUPS DATA BY UNIQUE VALUES OF A COLUMN AND THE NEEDS A METRIC TO AGGREGATE I.E SUM, MEAN, STD, ETC.

In [5]:
# shows_data.groupby("No of Seasons").count() 
# GROUP BY AND USE THE COUNT METHOD TO COUNT OCCURENCES BY UNIQUE NUMBER OF SEASONS

In [4]:
shows_data.groupby("No of Seasons").count().sort_values(by = "Series Title", ascending = False)

In [6]:
# shows_data.groupby("Year Released").count().sort_values(by = "Series Title", ascending = False)

In [11]:
# CREATE A NEW EXCEL FILE WITH SHEETS REPRESENTING EACH OF THE YEARS OF MOVIES RELEASE 
# AND THE DATA AS ALL MOVIES RELEASED IN SAID YEAR

yearly_movies_grouped = shows_data.groupby(by = "Year Released")

In [48]:
yearly_movies_grouped.groups # SHOWS ALL GROUPS RAW WITH JUST INDEX
# NOTE THAT WHAT IS RETURNED BY THE  (.GROUPS) METHOD IS ACTUALLY A DICTIONARY 
# WITH KEY OF THE GROUP NAME AND VALUE OF THE GROUP DATA AS A DATAFRAME

In [31]:
yearly_movies_grouped.get_group(2000) # .get_group(param or group key) 
# takes 1 parameter the group name we want to see and returns the group data as a dataframe.


# print(yearly_movies_grouped.get_group(2000))

yearly_movies_grouped.groups.keys()

dict_keys([1901, 1904, 1914, 1922, 1931, 1932, 1933, 1934, 1940, 1941, 1943, 1945, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [37]:
# my_dict = {
#     "key1": "value1","key2": "value2", "key3": "value3", "key4": "value4"
# }
# my_dict

In [38]:
# list(my_dict.items())

In [39]:
# my_dict.keys()

In [40]:
group_keys = yearly_movies_grouped.groups.keys() # RETRIEVE KEYS FROM GROUPS

In [47]:
with pd.ExcelWriter("netflix_by_years.xlsx") as writer:

    for key in group_keys:
#         print(key, "--> ", yearly_movies_grouped.get_group(key).shape)
        dataframe = yearly_movies_grouped.get_group(key)
        dataframe.to_excel(writer, sheet_name = f"{key}", index = False)

In [60]:
yearly_movies_grouped["IMDB Rating"].agg(["min", "max", "count", "mean", "std", "sum"]).fillna("missing")

                   min      max  count     mean      std     sum
Year Released
1901               7.4      7.4      1      7.4  missing     7.4
1904           missing  missing      0  missing  missing     0.0
1914           missing  missing      0  missing  missing     0.0
1922                 8        8      1        8  missing     8.0
1931           missing  missing      0  missing  missing     0.0
...                ...      ...    ...      ...      ...     ...
2016               2.2      9.5    829  6.98806  1.12773  5793.1
2017               1.2      9.3    814   6.9129  1.14552  5627.1
2018               1.8      9.7    823  6.89696  1.14434  5676.2
2019               1.6      9.4    774  6.89961  1.11862  5340.3
2020               2.1      9.2    442  6.80475  1.16936  3007.7

[86 rows x 6 columns]

In [64]:
#CROSS TAB

filled_data = shows_data["Content Rating"].fillna("no rating", inplace = True)

In [80]:
filled_data = shows_data["Content Rating"].fillna("no rating")
shows_data["filled_ratings"] = filled_data

In [81]:
shows_data

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform,filled_ratings
0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix,18+
1,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO",18+
2,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu",18+
3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix,16+
4,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video,18+
...,...,...,...,...,...,...,...,...,...,...
12348,A Fishing Story with Ronnie Green,2017,NaN,NaN,-1,"2017,Prime Video",A Fishing Story with Ronnie Green has one or m...,2Seasons,"Prime Video,fuboTV",no rating
12349,CMT Most Shocking,2003,NaN,NaN,-1,-1,-1,-1,-1,no rating
12350,NHL Road to the Outdoor Classics,2016,NaN,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix",no rating
12351,Addy Media,2018,NaN,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video,no rating
12352,My Dream Derelict Home,2014,NaN,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video",no rating

In [89]:
pd.crosstab(shows_data["Year Released"], shows_data["filled_ratings"], margins = True ) 
# MARGINS PARAMETER GIVE THE SUMMARY(SUM TOTAL) FOR EACH PART COLUMN AND ROW

filled_ratings  13+   16+   18+    7+   all  no rating    All
Year Released
1901              0     0     0     0     1          4      5
1904              0     0     0     0     0          1      1
1914              0     0     0     0     0          1      1
1922              0     0     0     0     0          1      1
1931              0     0     0     0     0          1      1
...             ...   ...   ...   ...   ...        ...    ...
2017              0   240   137   120    56        766   1319
2018              0   230   167   121    63        455   1036
2019              0   199   193   103    43        298    836
2020              0   101   137    60    26        143    467
All               7  2581  1462  2048  1134       5121  12353

[87 rows x 7 columns]